.navbar {
    background-color: #F7F4E7;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #1a1a1a;
    letter-spacing: -0.5px;
}

.logo-t,
.logo-f {
    color: #9CAB84;
}


.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.login-card {
    background-color: #F7F4E7;
    padding: 50px 40px;
    border-radius: 40px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.02);
}

.login-header i {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.login-header h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #1a1a1a;
}


.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    background-color: #FFFFFF;
    font-size: 15px;
    outline: none;
    text-align: left;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #9CAB84;
    box-shadow: 0 0 0 2px rgba(156, 171, 132, 0.1);
}


.login-btn {
    background-color: #9CAB84;
    color: #F7F4E7;
    border: none;
    padding: 14px 70px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    margin-top: 15px;
    width: auto;
}

.login-btn a {
    color: #F7F4E7;
    text-decoration: none;

}

.login-btn:hover {
    opacity: 0.95;
    transform: translateY(-1px);
}


.register-text {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}

.register-text a {
    color: #999;
    text-decoration: underline;
    font-weight: 500;
}