<app-navbar></app-navbar>

<main class="container">
    <div class="card">
        <h2>Create Task</h2>

        <!-- Bind form to taskForm -->
        <form [formGroup]="taskForm" (ngSubmit)="onSave()">

            <div class="input-group">
                <label>Title</label>
                <input 
                    type="text" 
                    placeholder="Title"
                    formControlName="title">
                
                <small *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.invalid">
                    Title is required (min 3 characters)
                </small>
            </div>

            <div class="input-group">
                <label>Description</label>
                <textarea 
                    placeholder="Description"
                    formControlName="description">
                </textarea>

                <small *ngIf="taskForm.get('description')?.touched && taskForm.get('description')?.invalid">
                    Description is required
                </small>
            </div>

            <div class="row">
                <div class="col">
                    <label>Status</label>
                    <select formControlName="status">
                        <option value="TODO">TODO</option>
                        <option value="IN PROGRESS">IN PROGRESS</option>
                        <option value="DONE">DONE</option>
                    </select>
                </div>

                <div class="col">
                    <label>Priority</label>
                    <select formControlName="priority">
                        <option value="LOW">LOW</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="HIGH">HIGH</option>
                    </select>
                </div>

                <div class="col">
                    <label>Due Date</label>
                    <input type="date" formControlName="dueDate">

                    <small *ngIf="taskForm.get('dueDate')?.touched && taskForm.get('dueDate')?.invalid">
                        Due date is required
                    </small>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="save-btn">Save Task</button>
                <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
            </div>

        </form>
    </div>
</main>

<footer>
    <div class="footer-links">
        <span>Service</span>
        <span>Support</span>
        <span>Company</span>
        <span>Legal</span>
        <span>Join Us</span>
    </div>
    <p>Design with love © TaskFlow 2026. All rights reserved</p>
</footer>