/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #9CAB84;
    --bg-color: #F7F4E7;
    --text-dark: #1a1a1a;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F7F4E7;
    height: 100vh;
}